* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
}


body {
    background-color: #f2eae2;
    font-family: Montserrat;
}

.card {
    width: 600px;
    height: 450px;
    background-color: white;
    position: absolute;
    left: 30%;
    top: 20%;
    margin: auto;
    display: flex;
    border-radius: 10px;
}

.card img {
    width: 300px;
    height: 450px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card>.description {
    width: 300px;
    height: 450px;
}

legend {

    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 5px;
    color: #6c7289;
    text-transform: uppercase;
    position: absolute;
    left: 55.25%;
    top: calc(50% - 15px / 2 - 185.5px);
}

h3 {
    width: 236px;
    height: 96px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #1c232b;
    position: absolute;
    right: 5.33%;
    top: calc(50% - 96px / 2 - 110px);
}

.text {
    width: 237px;
    height: 92px;
    font-size: 14px;
    line-height: 23px;
    color: #6c7289;
    position: absolute;
    right: 5.25%;
    top: calc(50% - 92px / 2 + 8px);
    align-items: center;
}

.price {
    width: 194px;
    height: 32px;
    position: absolute;
    top: calc(50% - 32px / 2 + 99px);
    left: 55.33%;
    display: flex;
    justify-content: space-between;
}

.sale-price {
    font-weight: 700;
    font-size: 32px;
    color: #3d8168;
    line-height: 32px;
}

.list-price {
    color: #6c7289;
    font-weight: 500;
    font-size: 13px;
    margin-top: 5.5px;
    line-height: 23px;
    text-decoration: line-through;
}

.add-to-cart img {
    width: 14.39px;
    height: 16px;
    right: 170px;
    position: absolute;
    align-content: center;
}

.add-to-cart {
    width: 236px;
    height: 48px;
    background-color: #3d8168;
    position: absolute;
    border-radius: 8px;
    border: none;
    top: 82.22%;
    left: 55.33%;
    color: #ffffff;
    line-height: 17px;
    font-weight: 700;
    font-size: 14px;
    align-items: center;
}

.add-to-cart:hover {
    cursor: pointer;
    background-color: #1a4032;
}

.add-to-cart:active {
    background-color: #1a4032;
}


.attribution {
    font-size: 12px;
    padding-bottom: 5px;
    text-align: center;
    color: #82728c;
}

.attribution a {
    color: #82728c;
}

footer {
    text-align: center;
    /* color: #82728c; */
    font-size: 12px;
    padding-bottom: 5px;
    text-decoration: #82728c;
    margin-top: 50%;
}




@media only screen and (max-width:600px) {


    .card {
        width: 343px;
        height: 611px;
        background-color: white;
        position: absolute;
        left: 10%;
        right: 10%;
        top: 5%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .card img {
        object-fit: cover;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 343px;
        height: 240px;
    }

    .card.description {
        width: 343px;
        height: 371px;
    }

    legend {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 5px;
        color: #6c7289;
        text-transform: uppercase;
        position: absolute;
        left: 7%;
        right: 66.18%;
        top: calc(50% - 15px/2 - 34px);
    }

    h3 {
        width: 296px;
        height: 64px;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        color: #1c232b;
        position: absolute;
        left: 7%;
        right: 7%;
        top: calc(50% - 64px/2 + 17.5px);
    }

    .text {
        width: 295px;
        height: 92px;
        font-size: 14px;
        line-height: 23px;
        color: #6c7289;
        align-items: center;
        position: absolute;
        height: 92px;
        left: 7%;
        right: 7%;
        top: calc(50% - 92px/2 + 111.5px);
    }

    .price {
        width: 194px;
        height: 32px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 7.14%;
        right: 36.3%;
        top: 79.71%;
        bottom: 15.06%;
    }

    .sale-price {
        font-weight: 700;
        font-size: 32px;
        color: #3d8168;
        line-height: 32px;
    }

    .list-price {
        color: #6c7289;
        font-weight: 500;
        font-size: 13px;
        margin-top: 5.5px;
        line-height: 23px;
        text-decoration: line-through;
    }

    .add-to-cart {
        width: 295px;
        height: 48px;
        background-color: #3d8168;
        border-radius: 8px;
        border: none;
        color: #ffffff;
        line-height: 17px;
        font-weight: 700;
        font-size: 14px;
        align-items: center;
        position: absolute;
        width: 295px;
        height: 48px;
        left: 25px;
        top: 539px;
    }

    .add-to-cart img {
        width: 14.39px;
        height: 16px;
        align-content: center;
        left: 85px;
    }

    .attribution {
       display: none;
    }

    .attribution a {
        display: none;
    }

    footer {
    display: none;
    }
}
