* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main {
    background-color: #F2EAE2;
    height: 1440px;
    height: 800px;
}

.card {
    width: 600px;
    height: 450px;
    background-color: white;
    position: absolute;
    left: 450px;
    top: 175px;
    display: flex;
    border-radius: 10px;
}

.card img {
    width: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card>.description {
    width: 300px;
    height: 450px;
}

legend {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 5px;
    color: #6C7289;
    text-transform: uppercase;
    position: absolute;
    left: 55.25%;
    top: calc(50% - 15px/2 - 185.5px);
}

h3 {
    width: 236px;
    height: 96px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #1C232B;
    position: absolute;
    right: 5.33%;
    top: calc(50% - 96px/2 - 110px);
}

.text {
    width: 237px;
    height: 92px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #6C7289;
    position: absolute;
    right: 5.25%;
    top: calc(50% - 92px/2 + 8px);
    align-items: center;
}

.price {
    width: 194px;
    height: 32px;
    position: absolute;
    top: calc(50% - 32px/2 + 99px);
    left: 55.33%;
    display: flex;
    justify-content: space-between;
}

.sale-price {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #3D8168;
    line-height: 32px;
}

.list-price {
    color: #6C7289;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 13px;
    margin-top: 5.5px;
    line-height: 23px;
    text-decoration: line-through;
}

.add-to-cart img {
    width: 14.39px;
    height: 16px;
    right: 170px;
    position: absolute;
    align-content: center;
}

.add-to-cart {
    width: 236px;
    height: 48px;
    background-color: #3D8168;
    position: absolute;
    border-radius: 8px;
    border: none;
    top: 82.22%;
    left: 55.33%;
    color: #FFFFFF;
    line-height: 17px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    align-items: center;
}

.add-to-cart:hover {
    cursor: pointer;
    background-color: #1A4032;
}

.add-to-cart:active {
    background-color: #1A4032;
}

/* Media Query */
@media only screen and (max-width:) {
    
}